:root {
    --background-color: #436AF1;
    --buttonAdd--color: #F6D83D;
    --buttonReset--color: #4060CE;
    --title-color: #FFF;
    --text-color: #FFF;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background: var(--background-color);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
}

body, input, button, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--title-color);
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}